.playerButton {
  
  height: 3em;
  /* Override their button style, because this is an important button, hence the !important*/
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FFFFFF), color-stop(3%, #FFDDDD), color-stop(100%, #FFAA00))!important;
  background-image: -webkit-linear-gradient(top, #FFFFFF, #FFDDDD 3%, #FFAA00)!important;
  background-image: linear-gradient(top, #FFFFFF, #FFDDDD 3%, #FFAA00) !important;
  background-color: #FFAA00 !important;
}

.playerButton-button-pressing, .playerButton-button-pressing:after{
  background-image: none;
  background-color: #FFDDDD !important;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FF9900), color-stop(10%, #FFB13D), color-stop(65%, #FF850A), color-stop(100%, #FFAA00)) !important;
  background-image: -webkit-linear-gradient(top, #FF9900, #FFB13D 10%, #FF850A 65%, #FFAA00)!important;
  background-image: linear-gradient(top, #FF9900, #FFB13D 10%, #FF850A 65%, #FFAA00)!important;
}

.displaynone{
  display:none !important; 
}

.newsItem{
	margin:1em;
}

.sponsorStyle{
	border-color:#00a000;
	border-style:solid;
	border-width:1px;
	text-align:center;
	margin :5px;
	width:100%;
}

.RecentSongItem
{
	
}
.FirstRecentSong
{
	margin:4em;
}
.logo{
 max-width: 100% !important; 
 
}

/* warning - ugly code incomming */

#ext-tab-1
{
	background-image: url(../images/newsicon.png) !important;
	-webkit-background-size: contain;
	-webkit-box-flex: 2;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
#ext-tab-2
{
 /*http://twitter.com/images/three_circles/twitter-bird-light-bgs.png*/
	background-image: url(../images/twittericon2.png) !important;
	-webkit-background-size: contain;
	-webkit-box-flex: 2;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#ext-tab-3
{
	background-image: url(../images/sponsoricon.png) !important;
	-webkit-background-size: contain;
	-webkit-box-flex: 2;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#ext-tab-4
{
	background-image: url(../images/musicicon.png) !important;
	-webkit-background-size: contain;
	-webkit-box-flex: 2;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#ext-tab-5
{
	background-image: url(../images/infoicon.png) !important;
	-webkit-background-size: contain;
	-webkit-box-flex: 2;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.info-header
{
    border-top:1px solid #ddd;
  background-image: none;
  background-color: #31E738;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #31E738), color-stop(3%, #28DC2F), color-stop(100%, #01AC07));
  background-image: -webkit-linear-gradient(top, #31E738, #28DC2F 3%, #01AC07);
  background-image: linear-gradient(top, #31E738, #28DC2F 3%, #01AC07);
  color: #FFFFFF;
  text-shadow: rgba(255, 255, 255, 0.25) 0 0.08em 0;
  border-top: 1px solid #31E738;
  border-bottom: 1px solid #01AC07;
  font-weight: bold;
  font-size: 1.1em;
  padding: 0.2em 1.02em;
  text-shadow: rgba(255, 255, 255, 0.25) 0 0.08em 0;
  margin:0 -18px;
}

.info-tekst p, .info-tekst strong
{
    margin:0;
    min-height: 2.6em;
    padding: 0.65em 0.8em;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.info-tekst strong
{
    border: none;
}